{% extends "layout.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}

	<div class="ui formulaire-utilisateur center raised very padded text container pink segment">
		<form class="ui form" action="/utilisateur/connexion" method="post">
			<h4 class="ui dividing header">Se connecter</h4>
	    	{{ m.render_field(form.email) }}
	    	{{ m.render_field(form.mdp) }}
		  	{{ form.csrf_token }}
  			<button class="ui primary button" type="submit">
  				Valider
  			</button>
  			<button class="ui basic red button" type="button" onclick="window.location.href='/utilisateur/oubli';">
  				Mot de passe oublié
  			</button>
		</form>
	</div>

{% endblock %}