{# myapp/templates/macros.html #}

<!-- Mettre en valeur l'onglet courant -->
{% macro nav_link(endpoint, text) %}
	{% if request.endpoint is not none %}
		{% if request.endpoint.endswith(endpoint) %}
		    <a class="active teal item" href="{{ url_for(endpoint) }}">{{ text }}</a>
		{% else %}
		    <a class="item" href="{{ url_for(endpoint) }}">{{ text }}</a>
		{% endif %}
	{% else %}
    	<a class="item" href="{{ url_for(endpoint) }}">{{ text }}</a>
	{% endif %}
{% endmacro %}

<!-- Générer un form avec WTForms (et ses erreurs) -->
{% macro render_field(field, userAuthInfo) %}
	<div class="field">
		{{ field(name_=field.name, id=field.name, placeholder=field.description, class_="field", value=userAuthInfo) }}
	</div>
  	{% if field.errors %}
    	<ul>
	    	{% for error in field.errors %}
	      		<li class="formulaire-erreur">{{ error }}</li>
	    	{% endfor %}
    	</ul>
  	{% endif %}
{% endmacro %}
