{% extends "layout.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}

	<h1 class="ui header">{{ titre }}</h1>

	<script language='javascript'>
             $(document).ready(function(){
                $('.ui.accordion').accordion();
             });
	</script>

	<div class="ui centered grid">
		<div class="sixteen wide column">
                 <h2 class="ui header">Le but est de réaliser une sorte de GPS</h2>
                 <h5 class="ui header"><dd> - Géolocaliser le conducteur</h5>
                 <h5 class="ui header"><dd> - Afficher itinéraire</h5>
                 <h5 class="ui header"><dd> - Travailler l'ergonomie de navigation</h5>
		</div>
	</div>

{% endblock %}